@font-face {
    font-family: 'Sh1zofont';
    src: url(Sh1zofont.otf)
}
@font-face {
    font-family: 'FeatureMono';
    src: url(FeatureMono.ttf)
}
@font-face {
    font-family: 'RobotoMono';
    src: url(RobotoMono-Bold.ttf)
}



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scrollbar-width: thin;
    scrollbar-color: #00FFFF #002222;
    scroll-behavior: smooth;
}
::-webkit-scrollbar-track {background: #002222}
::-webkit-scrollbar-thumb {background-color: #00FFFF}
#backgroundCanvas {
    position: fixed;
    width: 100vw;
    height: 100vh;
    z-index: -1;
    top: 0;
    left: 0;
    display: block;
}
.divider {
    height: 2px;
    background: #9C9C9C;
    margin: 2vh 5vw 2vh 5vw;
}


#header-placeholder {height: calc(min(8vh, 10vw) + 6vh)}

header {
    display: flex;
    position: fixed;
    z-index: 1;
    color: #FFFFFF;
    width: 100vw;
    padding: 2vh 3vw;
    background: #00606080;
    backdrop-filter: blur(20px);
    border-radius: 0 0 20px 20px;
}
#nameplate {
    height: min(8vh, 10vw);
    image-rendering: pixelated;
}
header nav img {
    height: min(4vh, 6vw);
    margin-left: 1vw;
}
header nav {
    margin-left: auto;
    align-self: center;
}

article {
    padding: 0 4vw;
}
article h1 {
    font-family: Sh1zofont, system-ui;
    font-size: 1.75rem;
    color: #FFFFFF;
    margin-bottom: 3vh;
}
#content {
    font-family: RobotoMono, system-ui;
    color: #CCCCCC;
    font-size: 1rem;
}
#content p a:link, #content p a:visited, #content ul a:link, #content ul a:visited {
    color: #00FFFF;
    transition: color 0.1s ease;
}
#content p a:hover, #content ul a:hover {color: #FFFFFF}
#content h2 {
    font-family: FeatureMono, system-ui;
    color: #FFFFFF;
    margin-top: 5vh;
    font-size: 2rem;
}
#content ul {padding-left: 2vw}



footer {
    display: flex;
    color: #00FFFF;
    width: 100vw;
    justify-content: center;
    margin-bottom: 2vh;
}
footer p {
    font-size: 1.1rem;
    font-family: FeatureMono, system-ui;
}
