@font-face {
    font-family: 'Sh1zofont';
    src: url(Sh1zofont.otf)
}
@font-face {
    font-family: 'FeatureMono';
    src: url(FeatureMono.ttf)
}
@font-face {
    font-family: 'RobotoMono';
    src: url(RobotoMono-Bold.ttf)
}



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scrollbar-width: thin;
    scrollbar-color: #00FFFF #002222;
    scroll-behavior: smooth;
}
::-webkit-scrollbar-track {background: #002222}
::-webkit-scrollbar-thumb {background-color: #00FFFF}
#backgroundCanvas {
    position: fixed;
    width: 100vw;
    height: 100vh;
    z-index: -1;
    top: 0;
    left: 0;
    display: block;
}
.divider {
    height: 2px;
    background: #9C9C9C;
    margin: 1vh 5vw 1vh 5vw;
}


#header-placeholder {
    height: min(12vh, 16vw);
}

header {
    display: flex;
    position: fixed;
    z-index: 1;
    color: #FFFFFF;
    width: 100vw;
    padding: 2vh 3vw;
    background: #00606080;
    backdrop-filter: blur(20px);
    border-radius: 0 0 20px 20px;
}
#nameplate {
    height: min(8vh, 10vw);
    image-rendering: pixelated;
}
header nav img {
    height: min(4vh, 6vw);
    margin-left: 1vw;
}
header nav {
    margin-left: auto;
    align-self: center;
}




