@font-face {
    font-family: 'Sh1zofont';
    src: url(Sh1zofont.otf)
}
@font-face {
    font-family: 'FeatureMono';
    src: url(FeatureMono.ttf)
}
@font-face {
    font-family: 'RobotoMono';
    src: url(RobotoMono-Bold.ttf)
}



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scrollbar-width: thin;
    scrollbar-color: #00FFFF #002222;
    scroll-behavior: smooth;
}
::-webkit-scrollbar-track {background: #002222}
::-webkit-scrollbar-thumb {background-color: #00FFFF}
#backgroundCanvas {
    position: fixed;
    width: 100vw;
    height: 100vh;
    z-index: -1;
    top: 0;
    left: 0;
    display: block;
}
body {
    display: flex;
    margin: 0 auto;
    gap: 1vw;
}
.divider {
    height: 2px;
    background: #9C9C9C;
    margin: 1vh 5vw 1vh 5vw;
}



#aside-placeholder {
    width: max(15vw, 30vh);
    height: 100%;
    flex-shrink: 0;
}

aside {
    width: max(15vw, 30vh);
    height: 100vh;
    display: flex;
    flex-direction: column;
    border-radius: 0 20px 20px 0;
    background: #00606080;
    backdrop-filter: blur(20px);
    position: fixed;
    padding: max(1vw, 2vh)

}
aside header {flex-shrink: 0}
aside header img {
    image-rendering: pixelated;
    width: max(13vw, 26vh);
    margin-bottom: 1vh;
}
aside main {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    width: max(13vw, 26vh);
}
#table-of-contents {
    font-family: FeatureMono, system-ui;
    font-size: 1rem;
    overflow-y: auto;
    flex-grow: 1;
    flex-shrink: 1;
}
#toc li {margin-bottom: 2.5vh}
#toc li a {
    text-decoration: none;
    transition: color 0.1s ease;
}
#toc li a, #toc li a:link, #toc li a:visited {color: #00d3d3}
#toc li a:hover {color: #00FFFF}
aside footer {
    font-family: FeatureMono, system-ui;
    color: #009C9C;
    flex-shrink: 0;
}
aside footer nav {
    display: flex;
    justify-content: center;
    gap: max(0.5vw, 1vh);
}
aside footer a img {
    display: inline;
    width: max(1.75vw, 3.5vh);
    height: auto;
    filter: brightness(0.611);
    transition: color 0.1s ease;
}
aside footer p {
    text-align: center;
    font-size: 0.95rem;
}
aside footer a img:hover {filter: brightness(1)}



article {flex-grow: 1}
article header {
    font-family: Sh1zofont, system-ui;
    color: #FFFFFF;
    margin: 0 10vw 0 10vw;
}
article header sup {
    font-family: FeatureMono, system-ui;
    color: #FFFFFF88;
}
#content {
    font-family: RobotoMono, system-ui;
    color: #CCCCCC;
    margin: 0 5vw 0 5vw;
    font-size: 1rem;
}
#content p a:link, #content p a:visited {
    color: #CCCCCC;
    transition: color 0.1s ease;
}
#content p a:hover {color: #FFFFFF}
#content h2 {
    font-family: FeatureMono, system-ui;
    color: #FFFFFF;
    margin-top: 5vh;
}
.footnote:link, .footnote:visited {
    color: #CCCCCC;
    transition: color 0.1s ease;
}
.footnote:hover {color: #FFFFFF}
