@font-face {
    font-family: 'Sh1zofont';
    src: url(Sh1zofont.otf)
}
@font-face {
    font-family: 'FeatureMono';
    src: url(FeatureMono.ttf)
}
@font-face {
    font-family: 'RobotoMono';
    src: url(RobotoMono-Bold.ttf)
}



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scrollbar-width: thin;
    scrollbar-color: #00FFFF #002222;
    scroll-behavior: smooth;
}
::-webkit-scrollbar-track {background: #002222}
::-webkit-scrollbar-thumb {background-color: #00FFFF}
#backgroundCanvas {
    position: fixed;
    width: 100vw;
    height: 100vh;
    z-index: -1;
    top: 0;
    left: 0;
    display: block;
}
main {
    display: flex;
    flex-direction: column;
    height: 100vh;
}



#main-container {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 34.5vh;
}
#main-container img {
    height: 12.5vh;
    image-rendering: pixelated;
}
#search-bar {
    margin: 2.5vh 0 2.5vh 0;
    height: 5vh;
    width: 40vw;
    border: none;
    border-radius: 4vh;
    outline: none;
    background: #00FFFF70;
    backdrop-filter: blur(20px);
    font-family: FeatureMono, system-ui;
    padding: 12px 16px;
    font-size: 1rem;
    
}
#search-bar:focus {
    transition: all 0.3s ease;
    background: #00F0F0F0;
    box-shadow: 0 0 8px rgba(0, 123, 255, 0.25);
}
#search-bar::placeholder {
  color: #006060;
  font-style: italic;
}
#main-container p a {
    font-family: FeatureMono, system-ui;
    color: #009999;
    text-align: center;
    font-size: 1rem;
    text-decoration: none;
}
#main-container p a:hover {
    color: #00FFFF;
    text-decoration: underline;
    transition: all 0.3s ease;
}


footer {
    display: grid;
    justify-content: center;
}
footer p {
    font-family: FeatureMono, system-ui;
    color: #009999;
    text-align: center;
    font-size: 0.95rem;
}
footer nav {
    display: flex;
    justify-content: center;
    gap: max(0.5vw, 1vh);
}
.socialElement img {
    display: inline;
    width: max(min(20vw, 4vh), 30px);
    height: auto;
    filter: brightness(0.611);
}
.socialElement img:hover {
    filter: brightness(1);
    transition: all 0.3s ease;
}
#socialsBlock {margin: 0.5vh 0 5.5vh 0}



@media (max-width: 900px) {
    #search-bar {width: 80vw}
    .socialElement img {filter: brightness(1)}
}
