<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="author" content="Sh1zok">
    <meta name="pseudonym" content="Sh1zok, Шизок, Шизик">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Sh1zok's Pages</title>
    <meta name="description" content="Pages I write cause I'm so cool ;3c">
    <link rel="icon" type="image/png" href="/assets/shared/favicon.png">
  
    <link rel="stylesheet" href="/assets/shared/default.css">
    <script type="module" src="/assets/shared/shaderInit.js"></script>

    <meta property="og:type" content="website">
    <meta property="og:title" content="Sh1zok's Pages">
    <meta property="og:description" content="Pages I write cause I'm so cool ;3c">
</head>
<body>
    <canvas id="backgroundCanvas"></canvas>
    {{ content }}
</body>
</html>
